<footer>
    <img src="/assets/footer/Logo.png" alt="Logo" class="logo">
    <div class="info">
        <div>
            <p>Nuestra tienda</p>
            <div>
                <a href="#">Productos</a>
                <a href="#">Sobre nosotros</a>
                <a href="#">Contacto</a>
                <a href="#">Tiendas</a>
            </div>
        </div>
        <div>
            <p>Empezar</p>
            <div>
                <a routerLink="/register">Registrate</a>
                <a href="#">Modo de pago</a>
            </div>
        </div>
        <div>
            <p>Síguenos</p>
            <div>
                <a href="#"><img src="/assets/footer/facebook.png" alt="Facebook">Facebook</a>
                <a href="#"><img src="/assets/footer/instagram.png" alt="Instagram">Instagram</a>
                <a href="#"><img src="/assets/footer/tik-tok.png" alt="TikTok">TikTok</a>
            </div>
        </div>
    </div>
</footer>