footer{
    background-color: var(--white);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 120px;
}
.logo{
    width: 80px;
}
.info{
    display: flex;
    gap: 120px;
}
.info div{
    display: flex;
    flex-direction: column;
}
p{
    font-weight: bolder;
    color: rgba(23, 16, 16, 70%);
}
a img{
    margin-right: 15px;
}
a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}
@media screen and (max-width: 596px) {
    p{
        margin-bottom: 2px;
    }
    footer{
        flex-direction: column-reverse;
        align-items: center;
        padding: 25px 35px;
    }
    .info{
        gap: 18px;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .info div div{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}