<div class="wrapper">
    <app-navbar></app-navbar>
    <app-sidebar></app-sidebar>
    <div class="content">
        <h3 class="title">Mi perfil</h3>
        <div class="top">
            <h4 class="subtitle">Información Personal</h4>
            <div>
                <p>Editar</p>
                <i class="fi fi-rs-pencil"></i>
            </div>
        </div>
        <div class="contain">
            <div>
                <p class="title-cate">Nombre</p>
                <p>Adriana</p>
            </div>
            <div>
                <p class="title-cate">Apellido</p>
                <p>Rodriguez</p>
            </div>
            <div>
                <p class="title-cate">Email</p>
                <p>adriro@gmail.com</p>
            </div>
            <div>
                <p class="title-cate">Telefono</p>
                <p>3213342755</p>
            </div>
        </div>
        <div class="top">
            <h4 class="subtitle">Direcciones</h4>
            <div>
                <p>Editar</p>
                <i class="fi fi-rs-pencil"></i>
            </div>
        </div>
        <p>No hay direcciones registradas</p>
    </div>
    <app-footer></app-footer>
</div>
