<main>
    <app-navbar></app-navbar>
    <section class="banner">
        <h2>Mejor colección <br> de <i>cuero</i> hecha para ti.</h2>
        <button class="btn">Conoce más</button>
    </section>
</main>
<!-- <section class="gallery">
    <div class="container-images">
        <div class="image"><img src="/assets/home/imagen1.png" alt="Galeria"></div>
        <div class="image"><img src="/assets/home/imagen2.png" alt="Galeria"></div>
        <div class="image"><img src="/assets/home/imagen3.png" alt="Galeria"></div>
    </div>
    <a href="">Ver galeria</a>
</section> -->
<app-footer></app-footer> 