
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$imperio-marroquinero-primary: mat.define-palette(mat.$indigo-palette);
$imperio-marroquinero-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$imperio-marroquinero-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$imperio-marroquinero-theme: mat.define-light-theme((
  color: (
    primary: $imperio-marroquinero-primary,
    accent: $imperio-marroquinero-accent,
    warn: $imperio-marroquinero-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($imperio-marroquinero-theme);

.mat-step-header .mat-step-icon {
  background-color: white;
  border: 3px rgba(51, 23, 11, 50%) solid;
  height: 40px;
  width: 40px;
}
.mat-step-header .mat-step-icon i{
  color: rgba(51, 23, 11, 50%);
}
.mat-step-header .mat-step-icon-selected{
  border: 4px var(--primary-color) solid;
  background-color: white;
  height: 40px;
  width: 40px;
  color: var(--primary-color);
}
.mat-step-header .mat-step-icon-selected i{
  color: var(--primary-color);
}

.mat-step-header .mat-step-icon-state-done {
  background-color: #556B2F;
  border: none;
}

.mat-step-header .mat-step-icon-state-done i{
  color: white;
}

.mat-badge-content {
  color: var(--primary-color);
  background: var(--secondary-color);
  font-size: 18px;
  font-weight: bold;
}
.mat-badge-medium .mat-badge-content {
  line-height: 17px;
}