/* Cinta */
.ribbon {
    height: 24px;
    overflow: hidden;
    width: 100%;
    background: var(--primary-color);
}
.ribbon div{
    display: flex;
    justify-content: center;
}
.ribbon p {
    margin: 0;
    color: var(--white);
    font-size: 16px;
}
.ribbon > div > p{
    display: inline-block;
}
.ribbon > div:first-child{
    animation: animacion-texto 15s alternate infinite;
}
@keyframes animacion-texto {
    0%{margin-top: 0;}
    20%{margin-top: 0;}
    25%{margin-top: -24px;}
    45%{margin-top: -24px;}
    50%{margin-top: -48px;}
    70%{margin-top: -48px;}
    75%{margin-top: -72px;}
    100%{margin-top: -72px;}
}

/* Menu */
.nav {
    display: block;
    background-color: var(--white);
    width: 100%;
}
.first-nav, .second-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 0;
}
.second-nav{
    margin: 1rem 0;
}
.navbar-left{
    display: flex;
    align-items: center;
    left: 20px;
    position: absolute;
}
.form-select{
    border: none;
    font-weight: 800;
    color: var(--primary-color);
    background-image: url("/assets/navbar/angle-small-down.png");
    background-position: right 1rem center;
    background-size: 20px 20px;
}
.navbar-right, .navbar-right{
    display: flex;
    position: absolute;
    right: 20px;
    gap: 20px;
}
hr{
    margin: 0;
}
.navbar-right ul, .navbar-center ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-right li{
    margin: 0 10px;
}
.navbar-center li {
    margin: 0 20px;
}
.navbar-center li a{
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
}
.navbar-center .menu li{
    position: relative;
    display: inline-block;
}
.navbar-center .menu li:hover > .submenu{
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 35px 15px 15px 15px;
    margin-left: -15px;
    gap: 15px;
    border-radius: 4px;
}
.navbar-center .submenu{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: var(--white);
}
.navbar-center .submenu li{
    margin: 0;
}
.menu-hamburguesa, .navbar-right .bolsa{
    display: none;
}

/* Menu Mobile */
.menu-mobile{
    position: absolute;
    background: var(--white);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    padding-top: 40px;
    z-index: 1;
}
.menu-mobile ul{
    list-style: none;
}
.menu-mobile img{
    width: 30px;
}
.menu-mobile a{
    text-decoration: none;
    color: var(--black);
    margin-left: 30px;
    display: inline-block;
}
.menu-mobile ul li ul{
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.mb-cat-pr{
    font-weight: bold;
    font-size: 22px;
    margin: 12px 0;
}
.mb-cat-seg{
    font-size: 19px;
}
.mb-sub-cat{
    display: none;
}
/* Subcategorias Mobile */
.sub-mobile{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    padding-top: 20px;
}
.sub-mobile h4{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--black);
    width: 80%;
    padding: 10px 0;
    gap: 20px;
    font-weight: bold;
}
.sub-mobile h5{
    font-weight: 600;
    padding: 15px 0;
}
.sub-mobile ul{
    padding: 0;
}
.sub-mobile ul a{
    margin: 0;
}
.sub-mobile div{
    width: 80%;
}
@media screen and (max-width: 768px) {
    .first-nav .navbar-left .divisas, 
    .first-nav .navbar-right .social-media, 
    .navbar-center .menu,
    .second-nav, hr{
        display: none; 
    } 
    .menu-hamburguesa, .navbar-right .bolsa{
        display: block;
    }
    .form-control{
        padding: 0.7rem 1.5rem;
        font-size: 1.2rem;
    }
    .form-select-sm{
        font-size: 1.2rem;
    }
}