<header>
    <div class="ribbon">
        <p>Compra protegida y 100% segura.</p>
    </div>
    <nav>
        <div class="navbar-left">
            <a routerLink="/menu"><img src="./assets/navbar/menu-hamburguesa.png" alt="Menu"></a>
        </div>
        <div class="navbar-center">
            <a routerLink="/home"><img src="./assets/logo.png" alt="Logo" id="logo"></a>
        </div>
        <div class="navbar-right">
            <ul>
                <li><a href=""><img src="./assets/navbar/corazon.png" alt="Corazon"></a></li>
                <li><a routerLink="/login"><img src="./assets/navbar/usuario.png" alt="Usuario"></a></li>
                <li><a href=""><img src="./assets/navbar/bolsa-de-la-compra.png" alt="Compra"></a></li>
            </ul>
        </div>
    </nav>
</header>