.ribbon {
    display: none;
}

nav {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
    left: 20px;
    position: absolute;
}

.navbar-right {
    display: none;
}

@media screen and (min-width: 768px) {
    .ribbon {
        background: var(--primary-color);
        height: 24px;
        display: flex;
        justify-content: center;
    }

    .ribbon p {
        margin: 0;
        color: var(--white);
        font-size: 16px;
    }

    .navbar-right {
        display: flex;
        position: absolute;
        right: 20px;
    }

    .navbar-right ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar-right ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar-right li {
        margin: 0 10px;
    }
}

/* Menu lateral */
.lateral-menu{
    display: flex;
    padding-top: 5%;
    width: 25%;
    height: 90vh;
    background-color: var(--white);
    position: absolute;
}
.lateral-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.lateral-menu ul p{
    font-weight: bold;
    margin-bottom: 30px;
}
.lateral-menu ul ul a{
    color: var(--black);
    text-decoration: none;
    font-weight: 500;
    font-size: large;
} 
.lateral-menu ul ul ul{
   display: none;
}
.lateral-menu ul ul li:hover ul{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}