<header>
  <div class="ribbon">
      <div><p>Compra protegida y 100% segura.</p></div>
      <div><p>Multiples medios de pago.</p></div>
      <div><p>Entregas a nivel nacional.</p></div>
      <div><p>Primer cambio gratis.</p></div>
  </div>

  <nav>
    <div class="navbar-left" (click)="menu =!menu">
      <img src="./assets/navbar/menu-hamburguesa.png" alt="Menu"/>
    </div>
    <div class="navbar-center">
      <a routerLink="/home"><img src="./assets/logo.png" alt="Logo" id="logo"/></a>
    </div>
    <div class="navbar-right">
      <ul>
        <li>
          <a href=""><img src="./assets/navbar/corazon.png" alt="Corazon" /></a>
        </li>
        <li>
          <a routerLink="/login"><img src="./assets/navbar/usuario.png" alt="Usuario"/></a>
        </li>
        <li>
          <a href=""><img src="./assets/navbar/bolsa-de-la-compra.png" alt="Compra"/></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div *ngIf="menu" class="lateral-menu">
    <ul>
      <li>
        <p>CATEGORIAS</p>
        <ul>
          <li><a href="">Bolsos</a>
            <ul>
              <li><a href="">Mujer</a></li>
              <li><a href="">Hombre</a></li>
              <li><a href="">Cuero</a></li>
              <li><a href="">Otros materiales</a></li>
            </ul>
          </li>
          <li><a href="">Billeteras</a>
            <ul>
              <li><a href="">Mujer</a></li>
              <li><a href="">Hombre</a></li>
              <li><a href="">Cuero</a></li>
              <li><a href="">Otros materiales</a></li>
            </ul>
          </li>
          <li><a href="">Correas</a>
            <ul>
              <li><a href="">Mujer</a></li>
              <li><a href="">Hombre</a></li>
              <li><a href="">Cuero</a></li>
              <li><a href="">Otros materiales</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
