<section>
  <div class="top">
    <p>Mi pedido</p>
    <i class="bi bi-x-lg" (click)="onCloseCart()"></i>
  </div>
  <ng-container *ngIf="totalproducts() > 0; else templateEmpty">
    <div class="content-cards">
      <div class="card-product" *ngFor="let product of myCart$ | async">
        <div>
          <div class="container-image">
            <img [src]="product.image" [alt]="product.name" />
          </div>
          <div class="description">
            <p>{{ product.name }}</p>
            <p>{{ product.precio | currency:'':'symbol':'0.0-0' }}</p>
            <div class="cantidad">
              <p>Cantidad: <span>{{ product.cantidad }}</span></p>
              <div>
                <i class="bi bi-dash-circle-fill" (click)="update('minus', product.id)"></i>
                <i class="bi bi-plus-circle-fill" (click)="update('add', product.id)"></i>
              </div>
            </div>
          </div>
        </div>
        <i class="bi bi-trash3" (click)="delete(product.id)"></i>
      </div>
    </div>
    <div class="bottom">
      <div>
        <p>Subtotal: <b>{{ totalcart() | currency:'':'symbol':'0.0-0' }}</b></p>
        <p>Articulos: <b>{{totalproducts()}}</b></p>
      </div>
      <button routerLink="/payments">CONTINUAR</button>
    </div>
  </ng-container>
</section>

<ng-template #templateEmpty>
  <div class="empty">
    <p>¡El carrito esta vacio! Agrega tus productos favoritos.</p>
    <button (click)="onCloseCart()" class="btn btn-empty">CONTINUAR COMPRANDO</button>
  </div>
</ng-template>