<section class="container-login">
    <div class="container-img">
        <img src="./assets/banner-login.png" alt="Banner" />
    </div>
    <div class="container-form">
        <a href="/home"><img src="./assets/cross.png" alt="cerrar" /></a>
        <div class="description">
            <h2>Iniciar Sesión</h2>
            <p>¿Aun no te has registrado? <a routerLink="/auth/register">Registrate</a></p>
        </div>

        <form [formGroup]="formLogin" (ngSubmit)="sendLogin()" class="form">
            <label for="email" class="form-label">Correo electronico</label>
            <p [hidden]="email.valid || email.pristine" class="message">
                <span *ngIf="email.errors?.['pattern']">El email debe ser valido.</span>
                <span *ngIf="email.errors?.['required']">Este campo es obligatorio.</span>
            </p>
            <input type="email" id="email" class="form-control" formControlName="email" />

            <label for="password" class="form-label">Contraseña</label>
            <p [hidden]="password.valid || password.pristine" class="message">Este campo es obligatorio.</p>
            <div class="password-container">
                <input [type]="type ? 'password' : 'text'" id="password" class="form-control" formControlName="password" />
                <span (click)="type = !type"><i [ngClass]="type ? 'fi fi-rs-eye' : 'fi fi-rs-crossed-eye'"></i></span> 
            </div>

            <a href="/recoverPass">¿Olvidaste tu contraseña?</a>

            <div><button class="btn mt-3" [disabled]="formLogin.invalid" routerLink="/user">INGRESAR</button></div>
        </form>
    </div>
</section>