/* Cinta */

.ribbon {
    height: 24px;
    overflow: hidden;
    width: 100%;
    background: var(--primary-color);
}
.ribbon div{
    display: flex;
    justify-content: center;
}
.ribbon p {
    margin: 0;
    color: var(--white);
    font-size: 16px;
}
.ribbon > div > p{
    display: inline-block;
}
.ribbon > div:first-child{
    animation: animacion-texto 15s alternate infinite;
}
@keyframes animacion-texto {
    
    0%{margin-top: 0;}
    20%{margin-top: 0;}
    
    25%{margin-top: -24px;}
    45%{margin-top: -24px;}
    
    50%{margin-top: -48px;}
    70%{margin-top: -48px;}
    
    75%{margin-top: -72px;}
    100%{margin-top: -72px;}
}

/* Menu */

nav {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.navbar-left {
    display: flex;
    align-items: center;
    left: 20px;
    position: absolute;
}
.navbar-right {
    display: none;
}

/* Menu lateral */

.lateral-menu{
    display: flex;
    padding-top: 5%;
    width: 25%;
    height: 90vh;
    background-color: var(--white);
    position: absolute;
}
.lateral-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.lateral-menu ul p{
    font-weight: bold;
    margin-bottom: 30px;
}
.lateral-menu ul ul a{
    color: var(--black);
    text-decoration: none;
    font-weight: 500;
    font-size: large;
} 
.lateral-menu ul ul ul{
   display: none;
}
.lateral-menu ul ul li:hover ul{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}


@media screen and (min-width: 768px) {
    .navbar-right {
        display: flex;
        position: absolute;
        right: 20px;
    }

    .navbar-right ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar-right ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar-right li {
        margin: 0 10px;
    }
}