<app-navbar></app-navbar>
<div class="lateral-menu">
    <ul>
      <li>
        <p>CATEGORIAS</p>
        <ul>
            <li><a href="">TODO</a></li>
            <li>
              <a href="">NUEVO</a>
              <ul>
                <li><a href="">Mujer</a></li>
                <li><a href="">Hombre</a></li>
                <li><a href="">Cuero</a></li>
                <li><a href="">Otros materiales</a></li>
              </ul>
            </li>
            <li>
              <a href="">BOLSOS</a>
              <ul>
                <li><a href="">Morrales</a></li>
                <li><a href="">Manos libres</a></li>
                <li><a href="">Riñoneras</a></li>
                <li><a href="">Cuero</a></li>
                <li><a href="">Otros materiales</a></li>
              </ul>
            </li>
            <li>
              <a href="">ACCESORIOS</a>
              <ul>
                <li><a href="">Billeteras</a></li>
                <li><a href="">Monederos</a></li>
                <li><a href="">Cuero</a></li>
                <li><a href="">Otros materiales</a></li>
              </ul>
            </li>
            <li>
              <a href="">CINTURONES</a>
              <ul>
                <li><a href="">Unifaz</a></li>
                <li><a href="">Doblefaz</a></li>
                <li><a href="">Cuero</a></li>
                <li><a href="">Otros materiales</a></li>
              </ul>
            </li>
          </ul>
          <br><br><br>
          <ul>
            <li><a href="">Mis ordenes</a></li>
            <li><a href="">Mis favoritos</a></li>
            <li><a href="">Mi cuenta</a></li>
          </ul>
      </li>
    </ul>
  </div>