.contain{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100vh;
    padding: 20px;
}
section{
    width: 100%;
}
h3{
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
}
h4{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}
.filter{
    font-style: italic;
    font-weight: 500;
    font-size: 1.18rem;
    margin-bottom: 8px;
}
.form-check-input{
    border: var(--bs-border-width) solid var(--black);
}
.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.color{
    display: flex;
    gap: 10px;
}
.color div{
    width: 24px;
    height: 24px;
}
.color div:nth-child(1){
    background-color: black;
}
.color div:nth-child(2){
    background-color: #403F3E;
}
.color div:nth-child(3){
    background-color: #521010;
}
.color div:nth-child(4){
    background-color: #B15A34;
}
.color div:nth-child(5){
    background-color: #FE7A08;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 235px));
    gap: 10px 30px;
    justify-content: center;
}
.product-card{
    width: 100%;
    background-color: #F4F4F4;
}
.product-image img:nth-child(2){
    width: 100%;
    height: 100%;
}
.product-image{
    width: 100%;
    height: 240px;
    object-fit: fill;
    position: relative;
}
.heart{
    background: white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 2px 1px 5px rgba(1, 1, 1, 25%);
}
.product-info{
    padding: 15px;
}
.product-info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-info p{
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
}
.product-info div p{
    font-weight: bolder;
    margin: 0;
    font-size: 22px;
}
.product-info button{
    background: var(--primary-color);
    border: none;
    color: var(--white);
    border-radius: 5px;
    width: 110px;
    height: 35px;
    font-weight: bold;
}
.filtros{
    display: none;
}

i[class^="fi-ss-"]:before, i[class*=" fi-ss-"]:before, i[class^="fi-rs-"]:before, i[class*="fi-rs-"]:before {
    line-height: 2;
    font-size: 20px;
}

@media screen and (max-width: 770px){
    .filtros{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .filtros p{
        margin: 0;
        font-size: small;
    }
    .contain{
        grid-template-columns: 100%;
    }
    aside{
        display: none;
    }
    .cards-container{
        /* grid-template-columns: repeat(auto-fill, 165px); */
        /* gap: 10px 10px; */
    }
    .product-image{
        /* height: 165px; */
    }
    .product-info div{
        flex-direction: column;
        align-items: flex-start;
    }
    .product-info p{
        margin: 0;
    }
    .product-info div p{
        margin-bottom: 10px;
    }
    .product-info button{
        width: 100%;
    }
}

/* @media screen and (max-width: 425px){
    .cards-container{
        grid-template-columns: repeat(auto-fill, 190px);
        gap: 10px 10px;
    }
    .product-card{
        width: 190px;
    }
    .product-image{
        height: 190px;
    }
}

@media screen and (max-width: 375px){
    .cards-container{
        grid-template-columns: repeat(auto-fill, 170px);
        gap: 10px 10px;
    }
    .product-card{
        width: 170px;
    }
    .product-image{
        height: 170px;
    }
}

@media screen and (max-width: 320px){
    .cards-container{
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 10px 10px;
    }
    .product-card{
        width: 140px;
    }
    .product-image{
        height: 140px;
    }
} */