<app-navbar></app-navbar>
<div class="contain">
    <aside>
        <h3>TODO</h3>
        <h4>Filtros</h4>
        <div>
            <p class="filter">Precios</p>
            <div class="form-check">
                <input type="checkbox" name="precio" id="menos" class="form-check-input" />
                <label for="menos" class="form-check-label">Menos de 50.000</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="precio" id="entre" class="form-check-input" />
                <label for="entre" class="form-check-label">De 50.000 a 100.000</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="precio" id="mas" class="form-check-input" />
                <label for="mas" class="form-check-label">Más de 100.000</label>
            </div>
        </div>
        <div>
            <p class="filter">Color</p>
            <div class="color">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div>
            <p class="filter">Materiales</p>
            <div class="form-check">
                <input type="checkbox" name="material" id="cuero" class="form-check-input" />
                <label for="cuero" class="form-check-label">Cuero</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="material" id="microfibra" class="form-check-input" />
                <label for="microfibra" class="form-check-label">Microfibra</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="material" id="sintetico" class="form-check-input" />
                <label for="sintetico" class="form-check-label">Sintetico</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="material" id="otros" class="form-check-input" />
                <label for="otros" class="form-check-label">Otros materiales</label>
            </div>
        </div>
    </aside>
    <section class="container">
        <div class="filtros mb-3 mt-3">
            <h3>Todos</h3>
            <p>FILTROS</p>
        </div>
        <div class="cards-container">
            <div *ngFor="let product of allProducts, index as i" class="product-card" >
                <div class="product-image" [routerLink]="['product', i]">
                    <div class="heart"><img src="/assets/products/corazon.png" alt="Corazon"></div>
                    <img [src]="product.image" [alt]="product.name">
                </div>
                <div class="product-info">
                    <p>{{ product.name }}</p>
                    <div>
                        <p>$ {{ product.precio }}</p>
                        <button (click)="addToCart(product)">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>