<app-navbar></app-navbar>
<section>
    <div class="photos">
        <div (click)="img = image" *ngFor="let image of product.colors[0].images">
          <img [src]=image [alt]="product.name">
        </div>
    </div>
    <div class="product-photo">
        <img [src]='img' [alt]="product.name">
    </div>
    <div class="product-description">
        <p class="category-product">{{product.category}} {{product.subcategory}}</p>
        <h3 class="product-name">{{product.name}}</h3>
        <p class="price">${{product.precio}}</p>
        <p class="description">{{product.description}}</p>
        <div class="product-colors">
            <div *ngFor="let color of product.colors" [style.background]="color.color"></div>
        </div>
        <div class="accordion" id="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                DETALLES DEL PRODUCTO
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion">
              <div class="accordion-body">
                <ul>
                  <li *ngFor="let detail of product.details">{{detail}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                CUIDADOS
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion">
              <div class="accordion-body">
                <p>{{product.cares}}</p>
              </div>
            </div>
          </div>
        </div>
        <button *ngIf="product.colors[0].stock > 0" class="btn" (click)="addToCart(product)">AGREGAR AL CARRITO</button>
        <div *ngIf="product.colors[0].stock == 0" class="stock">
          <p>En este momento no hay stock ¡Trabajamos para volver a tenerlo!</p>
          <button class="btn btn-stock" (click)="enviarMail(product.name)">AVISAME CUANDO HAYA STOCK</button>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->
