<section class="container-login">
    <div class="container-img">
        <img src="./assets/banner-register.png" alt="Banner"/>
    </div>

    <div class="container-form">

        <a href="/home"><img src="./assets/cross.png" alt="cerrar"/></a>

        <div class="description">
            <h2>Registrarse</h2>
            <p>¿Ya estas registrado? <a routerLink="/auth/login">Inicia sesion</a></p>
        </div>
        
        <form [formGroup]="formRegister" class="form" (ngSubmit)="sendRegister()">
            
            <label for="name" class="form-label">Nombre</label>
            <p [hidden]="name.valid || name.pristine" class="message">Este campo es obligatorio.</p>
            <input type="text" id="name" class="form-control" formControlName="name"/>

            <label for="lastname" class="form-label">Apellido</label>
            <p [hidden]="lastname.valid || lastname.pristine" class="message"> Este campo es obligatorio.</p>
            <input type="text" id="lastname" class="form-control" formControlName="lastname"/>

            <label for="email" class="form-label">Correo electronico</label>
            <p [hidden]="email.valid || email.pristine" class="message">
                <span *ngIf="email.errors?.['required']">Este campo es obligatorio.</span>
                <span *ngIf="email.errors?.['pattern']">Ingrese un email valido.</span>
            </p>
            <input type="email" id="email" class="form-control" formControlName="email"/>

            <label for="phone" class="form-label">Telefono</label>
            <p [hidden]="phone.valid || phone.pristine" class="message"> Este campo es obligatorio</p>
            <input type="text" id="phone" class="form-control" formControlName="phone"/>

            <label for="password" class="form-label">Contraseña</label>
            <div [hidden]="password.valid || password.pristine" class="message">
                <span *ngIf="password.errors?.['required']">Este campo es obligatorio.</span>
                <span *ngIf="password.errors?.['minlength']">Debe tener minimo 6 caracteres.</span>
            </div>
            <div class="password-container">
                <input [type]="typepass ? 'password' : 'text'" id="password" class="form-control" formControlName="password"/>
                <span (click)="typepass = !typepass"><i [ngClass]="typepass ? 'fi fi-rs-eye' : 'fi fi-rs-crossed-eye'"></i></span>
            </div>

            <label for="conf_password" class="form-label">Verificar contraseña</label>
            <div [hidden]="conf_password.valid || conf_password.pristine" class="message">
                <span *ngIf="conf_password.errors?.['required']">Este campo es obligatorio.</span>
                <span *ngIf="conf_password.errors?.['minlength']">Debe tener minimo 6 caracteres.</span>
            </div>
            <div class="password-container">
                <input [type]="typeconfpass ? 'password' : 'text'" id="conf_password" class="form-control" formControlName="conf_password"/>
                <span (click)="typeconfpass = !typeconfpass"><i [ngClass]="typeconfpass ? 'fi fi-rs-eye' : 'fi fi-rs-crossed-eye'"></i></span> 
            </div>

            <input type="checkbox" name="tyc" id="tyc" formControlName="tyc">
            <label>Aceptar <a routerLink="**">terminos y condiciones</a></label>

            <button class="btn mt-3" [disabled]="formRegister.invalid">CREAR CUENTA</button>
        </form>
    </div>
</section>