<footer>
    <hr>
    <div class="information">
        <div class="social-networks">
            <a href=""><img src="./assets/footer/facebook.png" alt="Facebook"></a>
            <a href=""><img src="./assets/footer/instagram.png" alt="Instagram"></a>
            <a href=""><img src="./assets/footer/tik-tok.png" alt="TikTok"></a>
        </div>
        <div class="footer-center">
            <a routerLink="/home"><img src="./assets/logo.png" alt="Logo" id="logo"></a>
        </div>
        <div class="payment-methods">
            <img src="./assets/home/visa.png" alt="Visa">
        </div>
    </div>
    <hr>
    <div class="categories">
        <a href="">Categoria 1</a>
        <a href="">Categoria 2</a>
        <a href="">Categoria 3</a>
        <a href="">Categoria 4</a>
    </div>
</footer>
